
{{form_start(formEquipe)}}
<table align="center">
<tr><td>Nom Equipe:</td><td>{{form_widget(formEquipe.nom)}}</td></tr>
<tr><td>Pays:</td><td>{{form_widget(formEquipe.pays)}}</td></tr>
<tr><td>Spécialité:</td><td>{{form_widget(formEquipe.specialite)}}</td></tr>
<tr><td>Nombre de joueurs:</td><td>{{form_widget(formEquipe.nbrJoueurs)}}</td></tr> 
<tr><td></td><td>{{form_widget(formEquipe.save)}}</td></tr>    
</table>

{{form_end(formEquipe)}}